/*
======================================================================
Common screen CSS for the Schibsted Sok admin systems.

In this file we define common styles that is suitable for screen
rendring. In example this includes how menues are shown etc.
======================================================================
*/

* {
    font-family: arial, sans-serif;
	font-size: 11px;
}

body {
	margin: 0px 0px 0px 0px;
}

h1 {
    font-size: 1.5em;
	margin-bottom: 10px;
}

form {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

a {
    color: #206CCC;
}

#Logo {
    padding-top: 0px;
	padding-bottom: 0px;
}

a:link {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
	vertical-align: middle;
}

/* Body Table */
#BodyTable {
	width: 100%;
}

#BodyTable td {
	vertical-align: top;
}

/* Top Menu */
#TopMenu {
	vertical-align: middle;
	height: 26px;
	color: white;
}

#TopMenu a {
	color: white;
	text-decoration: underline;
}

/* Left Menues */
#LeftMenu {
	width: 150px;
	margin-top: 0px;
}

#LeftMenu h4 {
	font-size: 12px;
	color: white;
	font-weight: bold;
    margin-top:10px;
    margin-bottom:10px;
    padding: 1px 0px 2px 4px;
}

#LeftMenu table {
	width: 100%;
    border-collapse: collapse;
}

#LeftMenu td {
	vertical-align: middle;
	text-align: left;
	border-top: 1px solid #D3D3D3;
	padding: 2px 2px 2px 2px;
}

/* Main Cell */
#MainCell {

}

/* Footer */
#Footer {
	border-top: 1px solid #914DA2;
	text-align: center;
	margin-top: 10px;
}

#Version {
	margin-top: 5px;
	color: #003880;
}